<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=drive-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/login.css">
    <!-- font-awesome 图标字体 http://www.fontawesome.com.cn/faicons/#web-application -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="screen"
          rel="stylesheet" type="text/css" th:href="@{css/login.css}">
    <title>Login</title>
</head>


<body>
<div id="login-box">
    <h1>Login</h1>
    <form action="/login" method="post" class="form">
        <div class="item">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <label>
                <input type="text" name="username" placeholder="Username"/>
            </label>
        </div>

        <div class="item">
            <i class="fa fa-key" aria-hidden="true"></i>

            <label>
                <input type="password" name="password" placeholder="Password">
            </label>
        </div>

        <input type="submit" value="Login"/>
    </form>
</div>

</body>
</html>